<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %> <%- include ('./partials/header') %>
    <main>
      <div class="LoginCajaMain">
        <div class="LoginMain">
          <img
            class="logo"
            src="/images/logo photoartstudio sitioFoto.png"
            alt="Logo PhotoArtStudio"
          />
          <!-- <div><p class="tituloFormLogin">Iniciá tu sesión en PhotoArtStudio</p></div> -->
          <div class="LoginFormulario">
            <form action="/users/login" method="POST">
              <p>
                <label>Correo electrónico</label>

                <input type="email" name="emailLogin" required />
              </p>
              <p>
                <label>Contraseña</label>

                <input type="password" name="contrasenaLogin" required />
              </p>

              <a href="">¿Olvidaste tu Contraseña?</a>

              <button type="submit" class="LoginButton">Ingresar</button>
              <label for="">Recuerdame</label>
              <input
                class="LoginCheckbox"
                type="checkbox"
                name="Recuerdame"
              /><br />
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
