<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>

<body>

    <%- include ('./partials/header') %>

    <main class="mainProducto">
       <nav class="datosProducto">
        <div class="NombrePoducto">
        <h2>Nombre Poducto </h2>
        <i class="far fa-user-circle"></i>
        <button  type="submit" class="seguir">Seguir</button>
    </div>
        <div class="DetallesProducto">
            <h5>Caracteristicas </h5>  
            <h5>medidas</h5>  
        </div>
        <img class = "imagenPrincipal" src="/images/producto1.jpg" alt="Producto1"/>
        <div class="MasFotos">
            <img class = "Imagen" src="/images/Producto1.2.jpg" alt="Producto1"/>
            <img class = "Imagen" src="/images/Producto1.3.jpg" alt="Producto1"/>   
        </div>
        <div class="opcionesProducto">
            <li><a class="opcionesProducto1" href="/">Descripcion</a></li>  
            <li><a class="opcionesProducto1" href="/">Sobre el Artista</a></li> 
            <li><a class="opcionesProducto1" href="/">Otros Trabajos</a></li> 
        </div>
        <div class="BotonCompras">
            <h5>$00.000</h5>  
            <button type="submit" class="Comprar">Comprar</button>
            <button type="submit" class="Comprar2">Agregar a Carrito</button>

        </div>
       </nav>
    </main>

    
   
</body>
</html>