<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>


<body>

    <%- include ('./partials/header') %>
    <h2>Servicio Fotografico</h2>
    <main class="mainCatalogo">
        <h2>Servicios Fotográficos</h2>
        <section class="articulos">
            
            <article class="producto">
                <img class = "imagenPrincipal" src="/images/producto1.jpg" alt="Producto1"/>
                <div class="detalle-producto">
                    <a class="carritoCompras" href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
                    <div class="detalle-pro">
                    <h4 class="descuento">Producto 1</h4>
                    <p class="descuento">$0.00</p>
                </div>

                
                    
                </div>
            </article>
            <article class="producto">
                <img class = "imagenPrincipal" src="/images/producto1.jpg" alt="Producto1"/>
                <div class="detalle-producto">
                    
                    <a class="carritoCompras" href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
                    <div class="detalle-pro">
                    <p class="descuento">Producto 2</p>
                    <p class="descuento"> $0.000</p>
                </div>
                    
                </div>
            </article>
            <article class="producto">
                <img class = "imagenPrincipal" src="/images/producto1.jpg" alt="Producto1"/>
                
                <div class="detalle-producto">
                    <a class="carritoCompras" href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
                    <div class="detalle-pro">
                        <p class="descuento">Producto 3</p>
                        <p class="descuento"> $0.000</p>
                </div>
                    
                </div>
            </article>
            <article class="producto">
                <img class = "imagenPrincipal" src="/images/producto1.jpg" alt="Producto1"/>
                <div class="detalle-producto">
                    <a class="carritoCompras" href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
                    <div class="detalle-pro">
                        <p class="descuento">Producto 4</p>
                        <p class="descuento"> $0.000</p>
                </div>
                    
                </div>
            </article>
           
            
        </section>
       
    </main>

    <%- include ('./partials/footer') %>
</body>
</html>