<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>

<body>

  <%- include ('./partials/header') %>

    <main id="carnet">
        <br><br><br><br>
        <h2>LISTADO DE USUARIOS</h2>

    <section class="mainUser">

     <div id="carnetUsers">

       <figure class="figureUser">
         <img src="/images/icons/usuario.png" alt="">    
        </figure>
        
        <article class="articleUser">
          <p>id: 10</p>
          <P>Nombre: Ariel Mosquera</P>
          <p>email: ariel@gmail.com</p>        
        </article>
      </div> 
     


      </section>

        
 
    </main>

    <%- include ('./partials/footer') %>

</body>
</html>