* {
  margin: 0px;
  padding: 0px;
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
}

.Inicio {
  display: flex;
  justify-content: space-between;
  /*border: solid 3px black;*/
  box-shadow: 1px 1px 10px #888888;
  box-shadow: black;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
}

.logo {
  width: 30%;
}
.Inicio a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 0px 0;
  font-size: 17px;
  position: relative;
  right: 30px;
}
.Inicio li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.buscador {
  position: absolute;
  right: 72px;
}
.carrito {
  position: absolute;
  right: 40px;
}

.Inicio a {
  display: none;
}

.perfil {
  display: none;
}

/* Cambios Carolina 23.10 -  */
/* El hove que todavia no funciona .RegisterLogin{
display: none;
}

.Inicio:hover + */.RegisterLogin{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  left: 35%;
  color: #222222;
}

.RegisterLogin a:visited{
  color: #888888;
}

/* Cambios Carolina 23.10 - Home Carousel - in progress */

.Carousel img{
  width: 100%;
}

/* Tablet*/

@media (min-width: 300px) {
  .logo {
    width: 40%;
  }
  /* El hover que todavia no funciona
  .Inicio:hover + */.RegisterLogin{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    left: 50%;
    color: #222222;
  }
  /* Cesar Detalles de Producto */
 .NombrePoducto{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4%;
  padding-top: 4%;
  
 }
 .NombrePoducto i{
  margin-left: 10%;
  
 }
 .NombrePoducto h2 {
  font-size: 80%;
  
 }
 .DetallesProducto{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4%;
 }
.ImagenPrincipal{
 
  position: relative;
}
.MasFotos{
  display: flex;
  justify-content: space-evenly;
  
}
.Imagen{
  width: 70px;
  height: 70px;
  padding: 0%;
  margin: 0%;
}
.opcionesProducto{
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
  padding-top: 4px;
}
.BotonCompras{
 position: center;
}
}

/*Desktop*/

@media (min-width: 761px) {
  .logo {
    width: 20%;
  }
  .Inicio a {
    display: block;
  }

  .menu-hamburguesa {
    display: none;
  }
  .perfil {
    display: block;
  }
  /* El hover que todavia no funciona
  
  .Inicio:hover + */.RegisterLogin{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    left: 80%;
    color: #222222;
  }
   /* codigo Cesar Producto*/
  .NombrePoducto{
    display: inline-block;
    position: relative;
    left:  80%;
    align-content: center;
   } 
   .NombrePoducto h2 {
    font-size: 20px;

   } 
   .DetallesProducto{
    display: block;
    position: relative;
    left:  80%;
    align-content: center;
   } 
   .imagenPrincipal{
    display: inline-block;
    position: absolute;
  top: 25%;
  right: 30%;
    
    width: 40%;
     
    
  }
  .MasFotos{
    display: table;
  }
  .Imagen{
    width: 60%;
    padding-bottom: 10%;
    display: table-cell;
	vertical-align: middle;
  }

}
