* {
  margin: 0px;
  padding: 0px;
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
}

.Inicio {
  display: flex;
  justify-content: space-between;
  /*border: solid 3px black;*/
  box-shadow: 1px 1px 10px #888888;
  box-shadow: black;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
}

.logo {
  width: 30%;
}
.botonInicio {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 0px 0;
  font-size: 17px;
  position: relative;
  right: 30px;
}
.Inicio li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.buscador {
  position: absolute;
  right: 72px;
}
.carrito {
  position: absolute;
  right: 40px;
}

.botonInicio {
  display: none;
}

.perfil {
  display: none;
}

/* Cambios Carolina 23.10 -  */
/* El hove que todavia no funciona .RegisterLogin{
display: none;
}
/*-----------------------------------INICIA LOGIN-------------------------------------*/
.LoginCajaMain {
  display: flex;
  justify-content: center;
  }
.LoginMain{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
  background-color:#888888;
  border-style: dotted red;
  margin-top: 10%;
  border-style: solid;
  border-color:black;
}


/*.LoginMain .tituloFormLogin{
  display: block;
}
*/
.LoginMain img{
  width: 100%;
  padding: 5%;
  padding-top: 15%;
  margin-bottom: 10%;
}
.LoginFormulario {
  width: 100%;
}

.LoginFormulario p{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}
.LoginFormulario p label{
  text-align: left;
  width: 100%;
}

.LoginFormulario a {
  display: block;
  width: auto;
  margin-bottom: 10%;
  text-align: center;
  color: #2049EB;
  text-decoration: none;
}
.LoginFormulario p input {
  height: 5vw;
  width: 96%;
}
.LoginButton{
  margin-bottom: 25%;
  width: 90%;
  height: 5vw;
  background-color: #2049EB;
  color: white;
  border-style: none;
  
}





/*----------------------------------TERMINA LOGIN---------------------------------*/

/*----------------------------------INICIA REGISTER---------------------------------*/
.RegisterCajaMain {
  display: flex;
  justify-content: center;
  
  }
.RegisterMain{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
  background-color:#888888;
  border-style: dotted red;
  margin-top: 10%;
  border-style: solid;
  border-color:black;
}
.RegisterMain img{
  width: 100%;
  padding: 5%;
  padding-top: 15%;
}

.RegisterMain h2{
  margin-left: 5%;
  width: 100%;
  text-align: left;
}
.RegisterFormulario a {
  text-align: center;
  color: #2049EB;
  text-decoration: none;
}
.RegisterFormulario p{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  
}
.RegisterFormulario p label{
  text-align: left;
  width: 100%;
}
.RegisterFormulario p input {
  height: 25px;
  width: 100%;
}
.RegisterButton{
  margin-bottom: 10%;
  margin-top: 15%;
  width: 60%;
  height: 30px;
  background-color: #2049EB;
  color: white;
  border-style: none;
  justify-self: center;
  
}

/*----------------------------------TERMINA REGISTER---------------------------------*/

.Inicio:hover {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  left: 35%;
  color: #222222;
}

.RegisterLogin a:visited{
  color: #888888;
}

/* Cambios Carolina 23.10 - Home Carousel - in progress */

.Carousel img{
  width: 100%;
}



/* Tablet*/

@media (min-width: 361px) {
  .logo {
    width: 60%;
  }
  /* El hover que todavia no funciona
  .Inicio:hover + */.RegisterLogin{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    left: 50%;
    color: #222222;
  }
  /* Cesar Detalles de Producto */
 .NombrePoducto{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4%;
  padding-top: 4%;
  
 }
 .NombrePoducto i{
  margin-left: 10%;
  
 }
 .NombrePoducto h2 {
  font-size: 80%;
  
 }
 .DetallesProducto{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4%;
 }
.ImagenPrincipal{
 
  position: relative;
}
.MasFotos{
  display: flex;
  justify-content: space-evenly;
  
}
.Imagen{
  width: 70px;
  height: 70px;
  padding: 0%;
  margin: 0%;
}
.opcionesProducto{
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
  padding-top: 4px;
}
.BotonCompras{
 position: center;
}


}

/*Desktop*/

@media (min-width: 761px) {
  .logo {
    width: 40%;
  }
  .botonInicio {
    display: block;
  }

  .menu-hamburguesa {
    display: none;
  }
  .perfil {
    display: block;
  }
  /* El hover que todavia no funciona
  
  .Inicio:hover + */.RegisterLogin{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    left: 80%;
    color: #222222;
  }
   /* codigo Cesar Producto*/
  .NombrePoducto{
    display: inline-block;
    position: relative;
    left:  80%;
    align-content: center;
   } 
   .NombrePoducto h2 {
    font-size: 20px;

   } 
   .DetallesProducto{
    display: block;
    position: relative;
    left:  80%;
    align-content: center;
   } 
   .imagenPrincipal{
    display: inline-block;
    position: absolute;
  top: 25%;
  right: 30%;
    
    width: 40%;
     
    
  }
  .MasFotos{
    display: table;
  }
  .Imagen{
    width: 60%;
    padding-bottom: 10%;
    display: table-cell;
	vertical-align: middle;
  }
  /*----------------------------------INICIA LOGIN MEDIA QUERY---------------------------------*/
 
  .LoginMain{
    flex-basis: 600px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .LoginFormulario {
    font-size:x-large;
  }
  
  .LoginFormulario p input {
    height: 40px;
  }
  .LoginButton{
    height: 40px;
    font-size: x-large;
  }
  .LoginFormulario p{
    margin-bottom: 10px;
  }

/*----------------------------------TERMINA LOGIN MEDIA QUERY---------------------------------*/

/*----------------------------------INICIA REGISTER MEDIA QUERY---------------------------------*/

.RegisterCajaMain{
  flex-basis: 25px;
}
.RegisterMain{
  margin-top: 3vw;
  flex-wrap: wrap;
  width: 600px;
}

.RegisterFormulario {
  font-size:large;
}

.RegisterFormulario p input {
  height: 40px;
  width: 100%;
}
.RegisterButton{
  height: 40px;
  width: 90%;
  font-size: large;
  margin-top: 3%;
}







/*----------------------------------TERMINA REGISTER MEDIA QUERY---------------------------------*/

}
