<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css">
    <title>ART</title>
    
    <!-- Iconos link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <!-- Tomar los íconos de: https://fontawesome.com/v5/search?o=r&m=free -->

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        
        <!-- Cambios Carolina 23.10 (Fuente)-->
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <!-- Nuestros Estilos personalizados-->
    <link href="/css/style.css" rel = 'stylesheet'>
</head>

<body>

    <header class="main header">
        <div class="Inicio">
           <a class="logo" href="/Producto"><img class="logo" src="/images/logo photoartstudio sitioFoto.png"></a>
               
                    <li><a class="botonInicio" href="/Prints">Prints</a></li>
                    <li><a class="botonInicio" href="/Enmarcados">Enmarcados</a></li>
                    <li><a class="botonInicio" href="/Producto">Servicio Fotografico</a></li>
                    <li><a class="botonInicio" href="/Soporte">Soporte</a></li>
                
                
             <nav class="buscador">
                    
                    <button type="submit"><i class="fa fa-search"></i></button>
                </nav>
                <nav class="carrito">
                    
                    <button type="submit"><i class="fas fa-shopping-cart"></i></button>
                </nav>
                <nav class="perfil">
                    
                    <button type="submit"><i class="far fa-user-circle"></i></button>
                </nav>
                <nav class="menu-hamburguesa">
                    
                    <button type="submit"><i class="fas fa-bars "></i></button>
                </nav>
                
                
               
       
        </div>
    
        
              
           
        
       
    </header>

    <main>
        <div class="LoginCajaMain">
        <div class="LoginMain">
            <!-- Cambios Carolina 23.10 (Titulo y requerir contraseña)-->
            <img class = "logo" src="/images/logo photoartstudio sitioFoto.png" alt="Logo PhotoArtStudio"/>
            <!-- <div><p class="tituloFormLogin">Iniciá tu sesión en PhotoArtStudio</p></div> -->
            <div><form action="/" class="LoginFormulario">
            <p>
                <label>Correo electrónico:</label>
            
            
                <input type="text" name="usuario" required>
            </p>
            <p>
                <label>Contraseña:</label>
              
                <input type="password" name="contraseña" required>
            </p>
         
            
            <a href="">¿Olvidaste tu Contraseña?</a>
           
                
            <button type="submit" class="LoginButton">Ingresar</button>
       
        </form>
    </div>
</div>
    </div>
    </main>

    
   
</body>
</html>