<footer>

    <div>
        <p>Todos los derechos reservados @2022</p>
    </div>

    <div>
        <div>
            <a class="insta" href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div>
            <a class="tik" href="#"><i class="fab fa-tiktok"></i></a>
        </div>
        <div>
            <a class="face" href="#"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div> 

    <div>
        <p>photoartstudio@gmail.com</p>
    </div>

</footer>