<footer>

    <div>
        <p>Todos los derechos reservados @2022</p>
    </div>

    <div>
        <div>
            <img src="#" alt="Icono Instagram">
        </div>
        <div>
            <img src="#" alt="Icono Tiktok">
        </div>
        <div>
            <img src="#" alt="Icono Facebook">
        </div>
    </div> 

    <div>
        <p>photoartstudio@gmail.com</p>
    </div>

</footer>