<header class="main-header">
  <nav>
    <div class="Inicio">
      <div class="menu-izquierda">
        <div class="link-logo"><a href="/"><img class="logo" src="/images/logo photoartstudio sitioFoto.png"></a></div>
        <div class="paginas-menu">
          <li><a class="botonInicio" href="/Prints">Prints</a></li>
          <li><a class="botonInicio" href="/Enmarcados">Enmarcados</a></li>
          <li><a class="botonInicio" href="/Producto">Servicios Fotográficos</a></li>
        </div>
      </div>

      <div class="menu-derecha">
        <li><a class="botonInicio" href="/Soporte">Soporte</a></li>

        <a class="buscador" href="#"><i class="fa fa-search"></i></a>

        <a class="carrito" href="/Carrito"><i class="fas fa-shopping-cart"></i></a>

        <a class="perfil" href="#"><i class="far fa-user-circle"></i></a>

        <button class="menu-hamburguesa" type="submit"><i class="fas fa-bars "></i></button>
      </div>
    </div>
  </nav>

  <div class="RegisterLogin">
    <div class="ButtonLogin"><a href="/login">Login</a></div>

    <div class="ButtonRegister"><a href="/register">Registro</a></div>
  </div>

</header>